/* styles */

body {
    background-image: linear-gradient(to bottom right, #201547, #051C2C);
    color: #bc13fe;
    text-shadow: #bc13fe 5px 5px 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url("Cyberpunk.jpeg"); 
    background-color: #051C2C;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    font-family: "Sacramento", sans-serif;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
    margin: 0px;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    font-family: "Sacramento", sans-serif;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe;
    margin: 10px;
}

p {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe;
}

.header {
    flex: 0.5;
    padding: 16px;
}
.main {
    display: flex;
    padding: 16px;
    margin: 0px auto;
    justify-content: space-around;
    width: fit-content;
}

.sidebar {
    height: 600px;
    flex: 0;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}

.container {
    width: 600px;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    border-radius: 20px;
    background-color: #201547;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe;
        }

.row {
    background-color: #201547;
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 10%;
    border-color: blue;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }

.block {
    background-color: #201547;
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 5%;
}


.block:hover {background-color: aqua;}

.footer {
    height: 30px;
    flex-basis: content;
}






.button {
    border: #59CBE8 solid 0.5px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background: #000117;
    color: #59CBE8;
    cursor: pointer;
}

.button-on {
    border: #59CBE8 solid 0.5px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background: #000117;
    color: #59CBE8;
    cursor: pointer;
    box-shadow: 0 0 15px 5px #48abe0;
    text-shadow: #48abe0 0 0 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-color: #59CBE8;
    border-radius: 16px;
  }
  
  .slider:hover {
    opacity: 1;
    box-shadow: 0 0 15px 5px #48abe0;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #59CBE8;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
   
  }




 